@model WorkScheduleWeb.Models.EmployeeDTO

@{
    var action = ViewData["Action"];
    var skillList = ViewData["skillList"] as List<string>;
}

    <h3>@action Employee</h3>
    <form asp-controller="employee" asp-action="save" method="post">
        @Html.Hidden("action",action)
        <table border="0" cellpadding="2" cellspacing="2">
            @if (action != null && action.ToString().ToLower().Equals("edit"))
            {
                <input asp-for="Employee.EmployeeId" type="hidden" />
            } 
            
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" asp-for="Employee.FirstName" required/>
                </td>
                <td>
                    <span asp-validation-for="Employee.FirstName"></span>
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" asp-for="Employee.LastName" required/>
                </td>
                <td>
                    <span asp-validation-for="Employee.LastName"></span>
                </td>
            </tr>
             <tr>
                <td>Home Phone</td>
                <td>
                    <input type="text" asp-for="Employee.HomePhone" required/>
                </td>
                <td>
                    <span asp-validation-for="Employee.HomePhone"></span>
                </td>
            </tr>
                @if (action != null && action.ToString().ToLower().Equals("edit"))
                        {
                            <input type="hidden" asp-for="SkillId" value=0/>

                          }
                
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Save" /> &nbsp;&nbsp; <a class="btn btn-primary" asp-area="" asp-controller="Employee" asp-action="Index">Back</a>
                </td>
            </tr>

        </table>
        
    </form>
    <form asp-controller="employee" asp-action="AddSkill" method="post">
        
        @Html.Hidden("action","addskill")
        <table border="0" cellpadding="2" cellspacing="2">
            @if (action != null && action.ToString().ToLower().Equals("edit"))
            {
                <input asp-for="Employee.EmployeeId" type="hidden" />
            } 
   
                    <input type="hidden" asp-for="Employee.FirstName" required/>

                    <input type="hidden" asp-for="Employee.LastName" required/>
           
                    <input type="hidden" asp-for="Employee.HomePhone" required/>

                @if (action != null && action.ToString().ToLower().Equals("edit"))
        {
            <input type="hidden" name="hiddenEmployeeId" value=@Model.Employee.EmployeeId/>

            <tr>
                <td>
                    Add Skills
                </td>
                <td> 
                    <select asp-for="SkillId"> 
                        <option disabled selected value=0>Choose Skill</option>
                        @foreach (var skill in Model.Skills)
                        {
                            <option value=@skill.SkillsId>@skill.Description</option>
                        }

                    </select>
                </td>

            </tr>


            <tr>
                <td>&nbsp;</td>
                <td>
                    <input class="btn btn-primary" type="submit" value="AddSkill" />
                </td>
            </tr>
            }
        </table>
        
    </form>
@if (action != null && action.ToString().ToLower().Equals("edit"))
{
   <h4>Employee Skill</h4>

        <ul>
            @foreach(var skill in skillList)
            {
                <li>
                    @skill
                </li>
            }
        </ul> 
}
